*{
    margin:0;
    padding:0;
    font-family:"Gilroy";
    box-sizing:border-box;

}

html,body{
    width:100%;
    height:100%;
}
#main{
    display:flex;
    width:100%;
    height:100%;
    
}

#left{
    position:relative;
    width:40%;
    height:100%;
    
}
#lnav{
    display:flex;
    justify-content:space-between;
    width:100%;
    padding:20px 30px;
   
}
#lnavr{
    display:flex;
    align-items:center;
}
#lnavr a{

    margin-right:60px;
    text-decoration:none;
    color:#000;
    font-weight:500;
    font-size:14px;


}
#lnavr i{
    color: royalblue;
}
#left #textcenter{

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#textcenter h1{
    font-size:90px;
    font-weight:900;
}
#textcenter p{
        opacity:.6;
        font-size:12px;
        line-height:20px;
        margin-top:20px;
        margin-bottom:20px;
}
#textcenter a{
    text-decoration:none;
    color:#000;
    border-bottom:1px solid #000;
    padding-bottom:5px;
    font-size:13px;
    font-weight:600;
    opacity:.6;
}
#right{
    width:60%;
    height:100%;
    background-color:white;
}
#rtop{
    display:flex;
    width:100%;
    height:50%;
    background-color:royalblue;
}
#rbottom{
    width:100%;
    height:50%;
    background-image:url(https://images.unsplash.com/photo-1579169326371-ccb4e63f7889?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fG9yYW5nZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size:cover;
    background-position:center;
}
#rtopleft{

    width:55%;
    height:100%;
    background-color:red;
    background-image:url(https://images.unsplash.com/photo-1635716279493-d1e30afc25a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbmdvfGVufDB8fDB8fHww);
    background-size:cover;
    background-position:center;
}
#rtopright{
    width:45%;
    height:100%;
    background-image:url(https://images.unsplash.com/photo-1560607162-26b0344e6943?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fG9yYW5nZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size:cover;
    background-position:center;
}
#lnavr a:hover{
       transform:scale(1.3);

}











@media (max-width: 500px) {

        #main{
            flex-direction:column;

        }

        #main #left{
            width:100%;
        }
        
        #main #right{
            width:100%;
        }
}